@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FCDDEC;
    
}

header {
    background-color: #A5A6F6 ;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}



nav{
    background-color: #A5A6F6
    padding: 10px; 
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    {

    main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }




    main h2 {
        font-family: var(--fonte-android);
        color: var(--cor4);
        font-size: 1.3em;
        font-weight: normal;
        background-image: linear-gradient(to right,var(--cor1),transparent);
        text-indent: 8px;
    }

    main h3 {
        font-family: var(--fonte-android);
        color: var(--cor4);
        font-size: 1.3em;
        font-weight: normal;
        background-image: linear-gradient(to right,var(--cor1),transparent);
        text-indent: 8px;
    }

    