@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

:root{
    --cor1:#54d9f762;
    --cor2: #4996D6;
    --cor3: #5C85ED;
    --cor4: #494CD6;
    --cor5:#7D54F7;

    --fonte-padrao: 'Open Sans Condensed', sans-serif;

    --fonte-destaque:'Mulish', sans-serif;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    
}

header > h1{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

main h1{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

main h2 {
    font-family: var(--fonte-padrao);
}

strong{
    color: var(--cor4);
}

    